{% extends 'base.html.twig' %}

{% block title %}Zone Gaming
{% endblock %}

{% block body %}
	<main>
		<h1 class="text-center mt-4">Nos Univers</h1>

		<section class="cardUniverses">
			{% for universe in universes %}
       <div class="cardUniverse" style= "background-image: url(/build/images/{{universe.photo}})">
				<div class="cardUniverseName">
           <h2>{{universe.name}}</h2>
        </div>
       </div>
			{% endfor %}
		</section>
	</main>
{% endblock %}
