{% extends 'base.html.twig' %}

{% block title %}Zone Gaming
{% endblock %}

{% block body %}
	<main>
		<h1 class="text-center mt-4">Univers
			{{ universe.name }}</h1>

		<section class="cardPlateformes">
			{% for plateforme in plateformes %}
      <a href="/plateforme/{{plateforme.name}}">
				<div class="cardPlateforme" style="background-image: url(/build/images/{{plateforme.photo}})"></div>
      </a>

			{% endfor %}
		</section>
	</main>


{% endblock %}
