.nav {
  height: 60px;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.nav h2 {
  color: $yellow-color;
  font-size: 20px;
  margin: 0;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

.logo :hover {
  transition: 0.4s;
  transform: scale(1.1);
}
.logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 0;
  margin-right: 32px;
  font-family: "Anton", sans-serif;
}

.navbar-link {
  color: $yellow-color;
  margin: 0 10px 0 10px;

  &:hover {
    color: $red-color;
    transition: 0.4s;
    transform: scale(1.5);
  }
}

.login a {
  font-family: "Anton", sans-serif;
  margin-right: 32px;
  color: $yellow-color;

  &:hover {
    color: $red-color;
  }
}

.bar-limit {
  height: 1px;
  width: 100%;
  background-color: $yellow-color;
}
