.cardUniverses {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
}

.cardUniverse {
  height: 25vw;
  display: flex;
  background-size: cover;
  text-align: center;
  border-radius: 8px;
  align-items: center;
  margin: 2vw;
}

.cardUniverseName{
  background-color: rgba(240, 248, 255, 0.534);
  text-align: center;
  margin: auto;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardUniverseName h2 {
  margin: 0;
  color: black;
}

@media only screen and (max-width: 668px) {
  .cardUniverses {
    display: grid;
    grid-template-columns: 2fr;
    gap: 5px;
  }

  .cardUniverse {
    height: 35vw;
  }
}
