<div class="bar-limit bar-footer"></div>

<footer class="footer">
	<div class="footer-links">
		<a href="#" class="footer-link">Contacts</a>
		<a href="#" class="footer-link">A Propos</a>
	</div>
</footer>
