<nav class="nav">
	<div class="logo">
		<a href="/">
			<img src="{{ asset('build/images/logoAll-.png') }}" alt="logo site">
		</a>
	</div>
	<div class="navbar-links">
		<a href="/universe" class="navbar-link">Univers</a>
		<a href="#" class="navbar-link">Jeux</a>
		<a href="#" class="navbar-link">Accessoires</a>
	</div>
  <div class="login">
     <a href="#" class="navbar-link">Connexion</a>
  </div>
</nav>
<div class="bar-limit">
</div>
