<nav class="nav">
   <div class="logo">
      <a href="/">
        <h2>GAMING</h2>
        <img src="{{ asset('build/images/panneau.jpg') }}" alt="logo site">
        <h2>ZONE</h2>
      </a>
   </div>
   <ul class="navbar-links">
   </ul>
</nav>
