<nav class="nav">
	<div class="logo">
		<a href="/universe/">
			<h2>GAMING</h2>
			<img src="{{ asset('build/images/panneau.png') }}" alt="logo site">
			<h2>ZONE</h2>
		</a>
	</div>
	<div class="navbar-links">
		<a href="#" class="navbar-link">Univers</a>
		<a href="#" class="navbar-link">Jeux</a>
		<a href="#" class="navbar-link">Accessoires</a>
	</div>
  <div class="login">
     <a href="#">Connexion</a>
  </div>
</nav>
