{% extends 'base.html.twig' %}

{% block title %}Zone Gaming
{% endblock %}

{% block body %}
	<main>
		<div class="home-page">

			<section class="welcome">
				<h1 class="text-center title">Bienvenue dans l'Univers des Gamers !</h1>
				<img src="{{ asset('build/images/logo.png') }}" alt="">
			</section>


			<a class="btn-home" href="/universe">
				<p>Entrer</p>
			</a>
		</div>


	</main>
{% endblock %}
